table {
  width: 100%;
}


.bookmark-content {
  width: 100%;
  height: 70%;
  margin: 10px;
  border: 1px solid gray;
}

#group-button{
  width: 100%;
}

.custom-spacer {
  flex: 1 1 auto;
}

.create-bookmark-btn{

}
