<hr>
<img class="desktop-logo" src="https://www.avaloq.com/o/avaloq-theme/images/avaloq_logo_claim.svg" alt="Avaloq Logo Claim">
<hr>
<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  <span>Bookmarks</span>
  <span class="custom-spacer"></span>
  <mat-slide-toggle matTooltip="Enable/Disable Edit Mode" color="warn" [(ngModel)]="isEditMode">Edit</mat-slide-toggle>
</mat-toolbar>

<mat-drawer-container class="bookmark-content">
  <!--SIDE BAR: GROUPS-->
  <mat-drawer mode="side" opened>
    <div *ngIf = "groups$ | async as groups">
      <mat-list>
        <h3 mat-subheader>Groups</h3>
        <!-- <mat-divider></mat-divider> -->
        <mat-list-item class ="group-list-item" *ngFor="let group of groups" (click)="selectGroup(group)">
          <mat-icon class="group-list-item-icon" matTooltip="Show '{{group}}' bookmarks" mat-list-icon >folder</mat-icon>
          <h4 mat-line>{{group}}</h4>
          <!-- <p mat-line> 4 items </p> -->
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <!--CONTENT: BOOKMARKS-->
  <mat-drawer-content>
    <div *ngIf = "bookmarks$ | async as bookmarks">
      <div class="group-indicator-btn">
        <h4>
            {{selectedGroup}}
        </h4>
      </div>

      <table mat-table [dataSource]="bookmarks">
          <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let bookmark"> {{bookmark.name}} </td>
          </ng-container>
          <ng-container matColumnDef="URL">
              <th mat-header-cell *matHeaderCellDef>URL</th>

              <td mat-cell *matCellDef="let bookmark">
                  <a href="//{{bookmark.url}}" target="_blank" rel="noopener">
                    {{bookmark.url}}
                  </a>
              </td>
          </ng-container>
          <ng-container matColumnDef="Group">
              <th mat-header-cell *matHeaderCellDef>Group</th>
              <td mat-cell *matCellDef="let bookmark"> {{bookmark.group}} </td>
          </ng-container>
          <ng-container matColumnDef="Actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let bookmark">
                <button *ngIf="isEditMode" mat-icon-button color="primary" aria-label="edit icon" (click)="openDialog(true, bookmark)">
                    <mat-icon matTooltip="Edit Bookmark">edit</mat-icon>
                </button>
                <button *ngIf="isEditMode" mat-icon-button color="warn" aria-label="delete icon" (click)="deleteBookmark(bookmark)">
                    <mat-icon matTooltip="Delete Bookmark">delete</mat-icon>
                </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<div class='create-bookmark-btn'>
  <button mat-fab matTooltip="Create a new bookmark" color="primary" aria-hidden="false" aria-label="Create bookmark" (click)="openDialog(false)">
    <mat-icon >add</mat-icon>
  </button>
</div>

<br>
<hr>


