<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  <span>Bookmarks</span>
  <span class="custom-spacer"></span>
  <mat-slide-toggle color="warn" [(ngModel)]="isEditMode">Edit</mat-slide-toggle>
</mat-toolbar>

<mat-drawer-container class="bookmark-content">
  <!--SIDE BAR-->
  <mat-drawer mode="side" opened>
    <mat-list>
      <h3 mat-subheader>Groups</h3>
      <!-- <mat-divider></mat-divider> -->
      <mat-list-item *ngFor="let group of groups" (click)="selectGroup(group)">
        <mat-icon mat-list-icon >folder</mat-icon>
        <h4 mat-line>{{group}}</h4>
        <p mat-line> 4 items </p>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <!--CONTENT-->
  <mat-drawer-content>
    <div *ngIf = "bookmarks$ | async as bookmarks">
      <table mat-table [dataSource]="bookmarks">
          <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let bookmark"> {{bookmark.name}} </td>
          </ng-container>
          <ng-container matColumnDef="URL">
              <th mat-header-cell *matHeaderCellDef>URL</th>
              <td mat-cell *matCellDef="let bookmark"> {{bookmark.url}} </td>
          </ng-container>
          <ng-container matColumnDef="Group">
              <th mat-header-cell *matHeaderCellDef>Group</th>
              <td mat-cell *matCellDef="let bookmark"> {{bookmark.group}} </td>
          </ng-container>
          <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let bookmark">
                <button *ngIf="isEditMode" mat-icon-button color="warn" aria-label="delete icon" (click)="deleteBookmark(bookmark)">
                    <mat-icon>delete</mat-icon>
                </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<hr>

<div align="center" class='create-bookmark-btn'>
  <button mat-fab color="primary" aria-hidden="false" aria-label="Create bookmark" (click)="openDialog()">
    <mat-icon >add</mat-icon>
  </button>
</div>

